extends layout

block content
  h1 Examples 
  p Examples of reading and writing XML in a Node.js application using popular NPM packages.

  h2 #[span(class="code") xml2js] and #[span(class="code") express-xml-bodyparser]
  p Send an HTTP POST request with an XML body to an endpoint on the Express server that accepts XML using 
    #[span(class="code") express-xml-bodyparser], which uses #[span(class="code") xmljs] under the covers.
  div(class="margin-bottom")
    button(id="sendXmlButton") Send XML Request
  div
    p Response:
    textarea(id="xmlResponseOutput", cols="100", rows="2", readonly)

  script.
    document.getElementById('sendXmlButton').addEventListener('click', () => {
      var responseOutput = document.getElementById('xmlResponseOutput');

      fetch('/examples/customer', {
        method: 'POST',
        headers: {
          'Content-Type': 'text/xml'
        },
        body: '<retrieveCustomer><id>39399444</id></retrieveCustomer>'
      })
      .then(response => response.text())
      .then(responseText => responseOutput.value = responseText)
      .catch(error => responseOutput.value = `Error sending fetch request: ${error}`);
    });

  h2 #[span(class='code') libxmljs2]
  p 

  h2 #[span(class='code') cheerio]
  p 
  
  h2 #[span(class='code') svgson]
  p 