extends layout

block content
  p Demonstrating reading and writing XML in a Node.js application using popular NPM packages.

  h3
    a(href="/xml2js") Receiving XML over HTTP with 
      #[span(class="code") xml2js] and #[span(class="code") express-xml-bodyparser]
  
  h3
    a(href="/libxmljs2") Validating XML with schemas with 
      #[span(class="code") libxmlj2]

  h3
    a(href="/cheerio") Manipulating HTML content with 
      #[span(class="code") cheerio]

  h3
    a(href="/svgson") Generating SVG images with 
      #[span(class="code") svgson]