doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      ul 
        li #[a(href="/") Home] 
        li #[a(href="/xml2js") xml2js] 
        li #[a(href="/libxmljs2") libxmljs2] 
        li #[a(href="/cheerio") cheerio] 
        li #[a(href="/svgson") svgson] 
    header
      h1 Reading and Writing XML with Node.js
    main
      block content
    
