body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #3f62ac;
}

h2 {
  margin-top: 1.2em;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #EFEFEF;
}

.margin-bottom {
 margin-bottom: 1.2em; 
}

.large-button {
  padding: 10px;
  font-size: 1.2em;
}

nav {
  background: #9bc2e5;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  padding: 0.5em 0em 0.5em 1em;
}

header {
  background: #5896d1;
}
header h1 {
  margin: 0;
  padding: 0.5em;
}

main {
  padding: 1em;
}