body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h2 {
  margin-top: 1.2em;
}

.code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #EFEFEF;
}

.margin-bottom {
 margin-bottom: 1.2em; 
}

.submitButton {
  padding: 10px;
  font-size: 1.2em;
}